.about {

  background: $primary;

  a {
      text-decoration: underline $highlight;
    }

  a:hover {
      color: $highlight;
  }

  .aboutContainer {
    display: flex;
    align-items: center;
  }

  .aboutLeft {
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .aboutImageContainer {
    width: 80%;
    position: relative;
    z-index: 10;
    padding: 20px;
    margin-top: 10px;
  
    // &::before {
    //   @include triangle;
    //   border-top: 80px solid transparent;
    //   border-left: 80px solid $secondary;
    //   transform: rotate(90deg);
    //   top: -20px;
    //   left: -20px;
    //   z-index: -10;
    // }

    // &::after {
    //   @include triangle;
    //   border-top: 80px solid transparent;
    //   border-left: 80px solid $secondary;
    //   transform: rotate(270deg);
    //   bottom: -20px;
    //   right: -20px;
    //   z-index: -10;
    // }

  }

  .aboutRight {
    flex: 1 1 60%;
  }

  .aboutRight h2 {
    margin: 0 0 30px 0;
  }

  .aboutRight h2 span {
    position: relative;

    &::after {
      @include squiggle;
      bottom: -70px;
      left: 27%;
    }

  }

  // The solution to put text inside a circle was heavily adapted from Chris Bracco's codepen below
  // https://codepen.io/cbracco/pen/qnduh
  // .circle {
  // position: relative;
  // display: block;
  // margin: 2em 0;
  // background-color: transparent;
  // color: black;
  // text-align: center;
  // }

  // .circle:after {
  //   display: block;
  //   padding-bottom: 100%;
  //   width: 100%;
  //   height: 0;
  //   border-radius: 50%;
  //   background-color: $primary-light;
  //   content: "";
  // }

  // .circleInner {
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  // }

  // .circleWrapper {
  //   display: table;
  //   width: 100%;
  //   height: 100%;
  // }

  .circleContent, .aboutSecond {
    font-size: 2rem;
    letter-spacing: -1px;
    line-height: 1.3;
    display: table-cell;
    padding: 3em;
    vertical-align: middle;
    
  }

  .circleContent p {
    padding: 10px 0;
  }

  .aboutSecond {
    display: flex;
    flex-direction: column;
  }

  .training {
    flex: auto 1 1;
  }

  .circleContent h2,
  .training h3,
  .aboutSecond .aboutCTAtext,
  .contactButton {
    text-align: center;
  }

  .training ul {
    display: flex;
    justify-content: center;
  }

  .training li {
    padding: 20px;
    text-align: center;
  }

  .training .trainingItem {
    font-weight: 600;
    // font-style: italic;
  }

  .training .trainingImgContainer {
    margin: 20px 0;
    display: flex;
    justify-content: center;
  }

  .training .trainingImgContainer img {
    margin: 0 auto;
  }

  .training .trainingImgContainer .prtLogo {
    width: 50%;
  }

  .aboutSecond .aboutCTA {
    margin-top: 30px;
  }

  .aboutSecond .aboutCTA .aboutCTAtext {
    padding: 20px 0;
    font-size: 2.8rem;
  }

  .arrowContainer {
    padding: 10px 0;
  }

  .contactButton {
    margin-top: 20px;
  }

  .contactButton a {
    background: $highlight;
    padding: 15px 40px;
    border-radius: 4px;
    border: none;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: $main-font;
    font-weight: 700;
    cursor: pointer;

    &:hover,
    &:focus {
      color: white;
    }
  }


} // About styling ends