.doIHaveTMS {
  // background-color: $primary;

  h2 {
    padding: 100px 0 60px 0;
    text-align: center;
  }

  h2 span {
    position: relative;

    &::before {
      @include triangle;
      border-top: 100px solid transparent;
      border-left: 100px solid $secondary;
      transform: rotate(180deg);
      top: -40px;
      right: -10px;
      z-index: -10;
    }

    &::after {
      @include squiggle;
      top: -70px;
      left: 110px;
    }
  }

  p {
    margin: 10px 0;
    text-align: center;
  }

  .main-text {
    max-width: 800px;
    margin: 20px auto;
    padding: 15px 3vw;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    font-size: 2rem;
  }

  ul {
    // max-width: 800px;
    // margin: 0 auto;
    // padding: 0 3vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  li {
    flex: 1 1 35%;
    margin: 10px;
    padding: 10px;
    min-height: 150px;
    background-color: $secondary;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
  }

  p.question {
    margin: 5px 0;
    text-align: left;
  }

  p.subquestion {
    // margin: 5px 0 0 20px;
    font-style: italic;
    text-align: left;
  }

  ul.diagnoses li {
    flex: 1 1 20%;
    min-height: 30px;
    background-color: $primary;
    color: white;
    text-align: center;
  }

  ul.success {
    flex-direction: column;
    align-items: center;
  }

  ul.success li {
    min-width: 200px;
    min-height: auto;
    text-align: center;
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0px;
  }

  a {
    text-decoration: underline teal;
  }

  a:hover {
    color: $highlight;
  }

  .skill {
    width: 100px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .arrowContainer {
    padding: 10px 0;
  }
} // Skills style ends
