@media (max-width: 1280px) {
  .wrapper {
    padding: 0;
  }
}

@media (max-width: 1080px) {
  
  header {

    .circleOne,
    .circleThree {
      top: -90px;
      right: -130px;
      width: 0px;
      height: 0px;
    }

  } // Header 1080px ends

} // 1080px ends

@media (max-width: 950px) {
  
  header {

    .circleTwo {
      width: 200px;
      height: 200px;
      top: 275px;
      right: 20px;
    }

    .circleOne,
    .circleThree {
      top: 425px;
      right: 100px;
    }

  } // Header 950px ends

  .about {

    .circleContent {
      font-size: 1.6rem;
    }

  } // About 950px ends

} // 950px ends

@media (max-width: 850px) {

  header {

    .name h1 {
      font-size: 3rem;
    }

    .name p {
      font-size: 2rem;
    }

    .circleOne {
      width: 180px;
      height: 180px;
      top: 200px;
      right: 70px;
    }

    .circleOne,
    .circleTwo,
    .circleThree {
      opacity: 0.15;
    }

    .circleThree {
      width: 180px;
      height: 180px;
      top: 250px;
      right: 80px;

    }

  } // Header 850px ends

  .about {

    .aboutContainer {
      flex-direction: column;
      align-items: stretch;
    }

    .aboutLeft {
      padding: 50px 0 10px 0;
    }

    .aboutImageContainer {
      width: 40vw;
    }

    .circleContent {
      font-size: 2rem;
    }

  } // About 850px ends

  .whatIsTMS {

    .project {
      flex-direction: column;
    }

    .project .projectImgSide {
      margin: 30px 0 0 0;
    }

  } // What Is TMS? 850px ends

  .doIHaveTMS {
    .main-text {
      font-size: 1.6rem;
      margin: 20px 10px;
    }
  }

  .contact {

    flex-direction: column;

  } // Contact 850px ends

} // 850px ends

@media (max-width: 650px) {
  header {

    .mainNav {
      height: auto;
      position: fixed;
      z-index: 90;
      border-radius: 50%;
      margin: 5px;
      opacity: 0.3;
      border: solid 3px $dark-grey;

      &:hover,
      &:focus-within {
        opacity: 1;
      }
    }

    .mainNav ul {
      justify-content: flex-end;
    }

    .mainNav .bars {
      display: block;
    }

    .mainNav .navListItem {
      display: none;
    }

    .name h1 {
      font-size: 3rem;
    }

    .name p {
      font-size: 2rem;
    }

  } // Header 650px ends

  .doIHaveTMS {
    ul {
      flex-direction: column;
    }
  }
}

@media (max-width: 600px) {

  header {
    
    .nameContainer {
      padding: 0 0 180px 0;
    }

  } // Header 600px ends
   
  .about {

    .circle:after {
      display: none;
    }

    .circleInner {
      position: static;
    }

    .circleContent p {
      text-align: left;
    }
    
  } // About 600px ends

  .contact {

    .contactTitle h2 span {

      &::after {
      
        right: 15px;
      }

    }

    .contactTitle p {
      font-size: 2rem;
    }

  } // Contact 600px ends

} // 600px ends

@media (max-width: 450px) {
  
  
  h2 {
    font-size: 3rem;
  }

  .about .aboutRight h2 span,
  .whatIsTMS h2 span,
  .doIHaveTMS h2 span,
  .contact .contactTitle h2 span {

      &::after {
        display: none;
      }
    }
  

  .about {

    .circleContent h2 {
      font-size: 3rem;
    }

    .circleContent p {

      font-size: 1.6rem;

    }

  } // About 450px ends

  .whatIsTMS {

    .project {
      padding: 20px 0 80px 0;
    }

    h2 span {

      &::after {
        right: -40px;
        top: -70px;
      }
    }

    .projectLinks {
      flex-direction: column;
    }

    .projectLinks li {
      padding: 5px 10px;
    }

  } // What Is TMS? 450px ends

  .doIHaveTMS {

    h2 span {

      &::after {
        left: 80px;
      }
    }

  } // Do I Have TMS? 450px ends

  .contact {
    
    .contactTitle h2 {
      font-size: 3rem;
    }

    .contactTitle h2 span {

      &::before {
        border-top: 90px solid transparent;
        border-left: 90px solid $primary-light;
      }

      &::after {
        
        background-size: 50%;
        right: 15px;
      }

    }

    .contactTitle p {
      font-size: 1.6rem;
    }

    form input,
    form textarea {
      font-size: 1.6rem;
    }

  } // Contact 450px ends

  footer {

    .personal p {
      font-size: 1.6rem;
    }

  } // Footer 450px ends

} // 450px ends