@import "setup";
@import "varsAndMixins";
@import "global";
@import "header";
@import "about";
@import "whatIsTMS";
@import "doIHaveTMS";
@import "resources";
@import "techniques";
@import "contact";
@import "footer";
@import "modal";
@import "MQs";